.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.app-counter {
  margin-bottom: 40px;
  line-height: calc(100vh - 200px);
  font-size: 80vh;
  text-align: center;
}

.app-actions {
  height: 30px;
  display: flex;
  justify-content: center;
  width: 90%;
}

.app-actions__buton { 
  flex: 1;
  margin: 0 20px;
}
